@font-face {
  font-family: 'DinPro-Medium';
  src: url('/fonts/DINPro-Medium.eot');
  src: url('/fonts/DINPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DINPro-Medium.woff2') format('woff2'),
    url('/fonts/DINPro-Medium.woff') format('woff'),
    url('/fonts/DINPro-Medium.ttf') format('truetype'),
    url('/fonts/DINPro-Medium.svg#DINPro-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DinPro-Bold';
  src: url('/fonts/DINPro-Bold.eot');
  src: url('/fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DINPro-Bold.woff2') format('woff2'),
    url('/fonts/DINPro-Bold.woff') format('woff'),
    url('/fonts/DINPro-Bold.ttf') format('truetype'),
    url('/fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DinPro-Regular';
  src: url('/fonts/DINPro.eot');
  src: url('/fonts/DINPro.eot?#iefix') format('embedded-opentype'),
    url('/fonts/DINPro.woff2') format('woff2'),
    url('/fonts/DINPro.woff') format('woff'),
    url('/fonts/DINPro.ttf') format('truetype'),
    url('/fonts/DINPro.svg#DINPro') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-size: 10px;
  font-family: 'DinPro-Medium', sans-serif;
}
.content-wrap {
  &_main_slider {
    margin-top: 145px;
  }
  &_news_slider {
    margin-top: 70px;
    margin-bottom: 120px;
  }
}
.career-h1 {
  font-size: 57px;
  color: #ffffff;
  margin: 0;
  &_students {
    font-size: 63px;
    margin-bottom: 20px;
  }
  &_professionals {
    margin-bottom: 10px;
    letter-spacing: 2px;
  }
}
.career-h2 {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  font-family: 'DinPro-Regular', sans-serif;
  font-weight: normal;
}
.career-wrap {
  &_main_news {
    padding-top: 370px;
    padding-bottom: 110px;
  }
  &_news {
    background: #002855;
  }
  &_news_list {
    padding-top: 45px;
    padding-bottom: 150px;
  }
}
.career-tools {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
    color: #020d2e;
    margin-right: 25px;
  }
  &__link {
    text-decoration: none;
    color: #006fb9;
    display: block;
    &_vk {
      width: 21px;
      height: 27px;
      background: url(/images/icons/vk_tools.png) no-repeat center;
    }
    &_fb {
      width: 16px;
      height: 31px;
      background: url(/images/icons/fb_tools.png) no-repeat center;
    }
    &_tw {
      width: 32px;
      height: 27px;
      background: url(/images/icons/tw_tools.png) no-repeat center;
    }
  }
}
.career-breadcrumbs {
  &_detail {
    border-bottom: 1px solid #e4e4e4;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    color: #006fb9;
    font-size: 17px;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-right: 20px;
    text-decoration: none;
    &:last-child {
      margin-right: 0;
    }
    &_active {
      color: #000000;
    }
  }
}
.inline-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  & a:hover {
    text-decoration: underline;
  }
  &__item {
    position: relative;
    display: inline;
    color: #e68b20;
    font-size: 18px;
    text-decoration: none;
    margin-right: 25px;
    &:after {
      position: absolute;
      content: '>';
      font-size: 24px;
      right: -20px;
      top: -3px;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}
.career-header {
  width: 100%;
  background: #002855;
  &__logo {
    margin-top: 11px;
    display: block;
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'DinPro-Bold', sans-serif;
  }
  &__wrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.career-nav {
  margin-top: 16px;
  &__list {
    display: table;
    width: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  &__item {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  &__link {
    text-decoration: none;
    font-size: 16px;
    color: #a8e4ff;
    text-transform: uppercase;
    &_active {
      color: #ffffff;
    }
  }
}
.career-button {
  display: inline-block;
  outline: 0;
  border: 0;
  background: #13bff1;
  color: #ffffff;
  &_login {
    font-size: 16px;
    padding: 16px 30px 14px 30px;
  }
  &_watch {
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    margin-top: 40px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.career-banner {
  position: relative;
  height: 780px;
  background: url(/images/career_index_banner.jpg) no-repeat top center;
  background-size: cover;
  &_vacancies {
    background: url(/images/career_vacancies_banner.jpg) no-repeat top center;
    background-size: cover;
  }
  &_students {
    background: url(/images/career_students_banner.jpg) no-repeat top center;
    background-size: cover;
    & > .career-banner__title {
      padding-top: 290px;
    }
  }
  &_professionals {
    background: url(/images/career_professionals_banner.jpg) no-repeat top center;
    background-size: cover;
    & > .career-banner__title {
      padding-top: 260px;
    }
  }
  &_function {
    background: url(/images/career_professionals_func_banner.jpg) no-repeat top right;
    background-size: cover;
    & > .career-banner__title {
      padding-top: 260px;
      & .career-h1 {
        margin-top: 30px;
        line-height: 1;
      }
    }
  }
  &__title {
    padding-top: 190px;
    letter-spacing: -0.1px;
    font-family: 'DinPro-Regular', sans-serif;
  }
}
.banner-links {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -490px;
  width: 100%;
  &__item {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 60px;
    background: rgba(0, 40, 85, .9);
    color: #ffffff;
    font-size: 29px;
    text-decoration: none;
    &:hover {
      background: #13bff1;
    }
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -18px;
      width: 43px;
      height: 43px;
      display: block;
      background: url(/images/icons/circle-arrow-right.png) no-repeat center;
      background-size: cover;
    }
  }
}
.about-steps {
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    position: relative;
    padding: 44px 25px 50px 130px;
    background: #003366;
    display: block;
    margin-bottom: 50px;
    min-height: 200px;
    &:before {
      position: absolute;
      font-size: 135px;
      top: 16px;
      left: 28px;
      color: #ffffff;
    }
    &:nth-child(1) {
      &:before {
        content: '1';
      }
    }
    &:nth-child(2) {
      &:before {
        content: '2';
      }
    }
    &:nth-child(3) {
      &:before {
        content: '3';
      }
    }
    &:nth-child(4) {
      &:before {
        content: '4';
      }
    }
    &:nth-child(5) {
      &:before {
        content: '5';
      }
    }
  }
  &__title {
    font-size: 28px;
    font-family: 'DinPro-Regular', sans-serif;
    color: #ffffff;
    line-height: 1.4;
  }
  &__link {
    text-decoration: none;
    color: #13bff1;
    &:hover {
      text-decoration: underline;
    }
  }
  &__text {
    color: #cccccc;
    font-size: 18px;
    line-height: 1.3;
  }
  &__button {
    padding: 27px 50px 29px;
    text-decoration: none;
    font-size: 24px;
    &:hover {
      text-decoration: underline;
    }
  }
}

.career-about {
  background: url(/images/career_about.jpg) no-repeat top right;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 150px;
  &__title {
    margin-bottom: 13px;
    font-family: 'DinPro-Regular', sans-serif;
  }
  &__subtitle {
    font-size: 20px;
  }
  &__list {
    margin-top: 50px;
    margin-bottom: 58px;
  }

}
.career-detail {
  padding-top: 80px;
  padding-bottom: 100px;
  &__title {
    color: #020d2e;
    font-size: 40px;
    font-family: 'DinPro-Regular', sans-serif;
    margin-bottom: 15px;
  }
  &__date {
    color: #a6a6a6;
    font-size: 17px;
  }
  &__text {
    font-size: 20px;
    color: #020d2e;
    line-height: 1.3;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  &__photo {
    width: 70%;
    & img {
      width: 100%;
    }
  }
  &__notice {
    margin-top: 100px;
  }
  &__tools {
    margin-top: 100px;
  }
  &__video {
    width: 100%;
    & iframe {
      max-width: 570px;
      width: 100%;
      height: 340px;
    }
  }
}
.career-notice {
  border-top: 3px solid #13bff1;
  &__title {
    color: #13bff1;
    font-size: 18px;
    padding: 20px 0;
    display: block;
  }
  &__text {
    color: #535353;
    font-size: 18px;
    line-height: 1.5;
  }
  &__link {
    text-decoration: none;
    color: #006fb9;
  }
}
.career-choose {
  background: #002855;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 900px;
  &__title {
    display: block;
    color: #ffffff;
    font-size: 46px;
    margin-bottom: 80px;
  }
  &__col {
    position: absolute;
    right: 0;
    top: 0;
  }
}
.tabs-accordeon {
  position: relative;
  &__nav-item {
    box-sizing: border-box;
    color: #ffffff;
    font-size: 26px;
    display: block;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 16px;
    background: #0d3d6e;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    &:before {
      display: block;
      margin-bottom: 8px;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: -8px;
      width: 8px;
      background: #e68b20;
      transition: all 0.1s ease-in;
    }
    &.active {
      &:before { left: 0px; }
    }
    &:hover {
      &:before { left: 0px; }
    }
  }
  &__content-item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    &.active {
      display: block;
    }
  }
  &__tag {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    & a {
      width: 100%;
      display: block;
      color: #ffffff;
      font-size: 26px;
      padding-top: 11px;
      padding-bottom: 13px;
      padding-left: 13px;
      padding-right: 13px;
      border: 1px solid #ffffff;
      font-weight: normal;
      font-family: 'DinPro-Regular', sans-serif;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        background: #e68b20;
        border: 1px solid #e68b20;
      }
    }
  }
}
.career-promo {
  &__text {
    padding-top: 145px;
    padding-bottom: 150px;
  }
  &__title {
    font-size: 52px;
    color: #006fb9;
    letter-spacing: -0.2px;
    margin: 0;
    text-align: center;
  }
  &__subtitle {
    font-size: 24px;
    color: #28c4f1;
    text-align: center;
  }
}
.career-video {
  // height: 730px;
  position: relative;
  &__text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-left: -490px;
    font-family: 'DinPro-Regular', sans-serif;
  }
  &__title {
    font-size: 40px;
    color: #ffffff;
    margin: 0;
  }
  &__play {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -54px;
    margin-left: -54px;
    width: 108px;
    height: 108px;
    display: block;
    border-radius: 50%;
    background: url(/images/icons/video-play.png) no-repeat center;
    cursor: pointer;
    z-index: 2;
    &:hover  {
      background: url(/images/icons/video-play.png) no-repeat center, rgba(0,0,0, .3);
    }
  }
  &__wrap {
    background: #002855;
    width: 100%;
    & > video {
      width: 100%!important;
      height: auto!important;
    }
  }
}
.career-people {
  width: 100%;
  background: #002855;
  padding-top: 140px;
  height: 790px;
}
.stats-slider {
  height: 240px;
  &__slide {
    padding-top: 30px;
  }
  &__number {
    display: block;
    font-size: 100px;
    color: #ffffff;
    position: relative;
    &_more {
      &:before {
        display: block;
        content: 'более';
        position: absolute;
        top: -25px;
        left: 5px;
        font-size: 20px;
        font-family: 'DinPro-Regular', sans-serif;
      }
    }
  }
  &__text {
    font-size: 22px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif;
    padding: 0 5px;
  }
}
.people-slider {
  position: relative;
  &__rubric {
    display: block;
    padding-left: 60px;
    padding-top: 60px;
    font-size: 20px;
    color: #76d4ff;
  }
  &__title {
    display: block;
    padding-left: 60px;
    padding-top: 70px;
    font-size: 40px;
    color: #ffffff;
    line-height: 1;
  }
  &__author {
    display: block;
    padding-left: 60px;
    padding-top: 35px;
    font-size: 18px;
    color: #b3b3b3;
    font-family: 'DinPro-Regular', sans-serif;
  }
  &__main {
    height: 560px;
  }
  &__thumbs {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -43%;
    height: 90px;
    width: 86%;
  }
}
.people-thumbs {
  &__wrap {
    height: 90px;
    & > .swiper-wrapper > .swiper-slide-active {
      border-bottom: 2px solid #ffffff;
    }
  }
  &__next, &__prev {
    display: block;
    left: -45px;
    top: 50%;
    margin-top: -13px;
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    z-index: 4;
    color: #ffffff;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 7px;
      height: 7px;
      border-left: 2px solid #ffffff;
      border-bottom: 2px solid #ffffff;
      transform: rotate(45deg);
      left: 50%;
      top: 50%;
      margin-top: -3px;
      margin-left: -2px;
    }
  }
  &__next {
    left: auto;
    right: -45px;
    &:after {
      transform: rotate(-135deg);
      margin-top: -4px;
      margin-left: -5px;
    }
  }
}
.news {
  &__title {
    font-size: 34px;
    color: #000000;
    font-family: 'DinPro-Regular', sans-serif;
    margin-bottom: 65px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
  }
  &__item {
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f2f2;
    &:last-child {
      border-bottom: none;
    }
  }
  &__name {
    display: block;
    color: #006fb9;
    font-size: 23px;
    text-decoration: none;
    margin-bottom: 15px;
    &:hover {
      text-decoration: underline;
    }
  }
  &__date {
    display: block;
    color: #a6a6a6;
    font-size: 16px;
  }
  &__more {
    color: #13bff1;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.career-socmedia {
  border-top: 2px solid #e5e5e5;
  padding: 45px 0;
  &__list {
    display: block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding-left:0;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    font-size: 15px;
    padding-left: 35px;
    padding-right: 35px;
    &:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: 28px;
      content: '';
    }
    &_vk {
      &:before {
        width: 21px;
        height: 27px;
        background: url(/images/icons/vk.png) no-repeat center;
      }
    }
    &_fb {
      &:before {
        width: 16px;
        height: 31px;
        background: url(/images/icons/fb.png) no-repeat center;
      }
    }
    &_tw {
      &:before {
        width: 32px;
        height: 27px;
        background: url(/images/icons/tw.png) no-repeat center;
      }
    }
  }
}
.search-form {
  margin-top: 35px;
  &__row {
    position: relative;
  }
  &__submit {
    border: 0;
    outline: 0;
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -13px;
    display: block;
    width: 33px;
    height: 33px;
    background: url(/images/icons/search.png) no-repeat center;
    background-size: cover;
    cursor: pointer;
  }
  &__clear {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(/images/icons/clear.png) no-repeat center;
    background-size: cover;
    cursor: pointer;
  }
  &__input {
    width: 100%;
    padding: 36px 94px 32px;
    font-size: 28px;
    font-family: 'DinPro-Regular', sans-serif;
    color: #002855;
  }
}
.career-tags {
  padding: 18px 0;
  border-bottom: 2px solid #f5f5f5;
  &__more {
    display: none;
  }
  &__list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  &__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 22px 50px 20px 19px;
    background: #13bff1;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__delete {
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -2px;
    display: block;
    width: 11px;
    height: 11px;
    background: url(/images/icons/clear_light.png) no-repeat center;
    background-size: cover;
    cursor: pointer;
  }
}
.career-vacancies {
  padding-bottom: 100px;
  &__filter-btn {
    display: none;
    padding: 12px 38px 12px 15px;
    background: #002855;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
  }
  &__header {
    padding-top: 100px;
    padding-bottom: 40px;
  }
  &__title {
    color: #020d2e;
    font-size: 36px;
  }
  &__count {
    color: #d1cfcf;
    font-size: 16px;
    font-family: 'DinPro-Regular', sans-serif;
    margin-bottom: 70px;
  }
  &__reset {
    color: #13bff1;
    text-decoration: none;
    margin-left: 10px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.vacancies-list {
  &__item {
    padding: 32px 35px 25px;
    border: 1px solid #e5e5e5;
    margin-bottom: 15px;
  }
  &__title {
    display: block;
    text-align: left;
    font-size: 24px;
    color: #020d2e;
    margin-bottom: 20px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__city {
    font-size: 17px;
    color: #006fb9;
    font-family: 'DinPro-Regular', sans-serif;
  }
  &__date {
    display: inline-block;
    font-size: 14px;
    color: #828282;
    margin-left: 10px;
  }
  &__more {
    color: #13bff1;
    font-size: 18px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__type {
    color: #13bff1;
    font-size: 17px;
  }
  &_spec {
    & .vacancies-list__city {
      display: block;
      text-align: right;
      margin-bottom: 8px;
    }
    & .vacancies-list__date {
      display: block;
      text-align: right;
    }
  }
}
.vacancies-filter {
  &__item {
    margin-bottom: 48px;
  }
  &__title {
    display: block;
    text-align: left;
    color: #020d2e;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__row {
    margin-bottom: 8px;
  }
  &__label {
    font-size: 16px;
    color: #020d2e;
    font-family: 'DinPro-Regular', sans-serif;
    & > span {
      padding-left: 8px;
    }
  }
  &__more {
    font-size: 16px;
    color: #13bff1;
    font-family: 'DinPro-Regular', sans-serif;
    text-decoration: none;
  }
  &__submit {
    display: none;
  }
}
.career-vacancy {
  &__wrap {
    padding-top: 100px;
    padding-bottom: 50px;
  }
  &__type {
    font-size: 20px;
    color: #e68b20;
  }
  &__name {
    font-size: 40px;
    color: #020d2e;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
  }
  &__city {
    @extend .vacancies-list__city;
    font-family: inherit;
  }
  &__date {
    @extend .vacancies-list__date;
  }
  &__detail {
    margin-top: 55px;
  }
  &__block {
    margin-bottom: 50px;
    &_side {
      margin-bottom: 20px;
      & > .career-vacancy__title {
        font-size: 20px;
      }
    }
  }
  &__title {
    color: #828282;
    font-size: 24px;
    font-family: 'DinPro-Regular', sans-serif;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 8px;
  }
  &__text {
    margin: 0;
    font-size: 20px;
    color: #000000;
    font-family: 'DinPro-Regular', sans-serif;
    font-weight: bold;
    line-height: 1.5;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    position: relative;
    display: block;
    padding-left: 30px;
    font-size: 20px;
    color: #000000;
    font-family: 'DinPro-Regular', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      content: '—';
      color: #828282;
    }
  }
  &__callback {
    display: inline-block;
    padding: 24px 38px;
    font-size: 24px;
    color: #ffffff;
    background: #13bff1;
    font-family: 'DinPro-Regular', sans-serif;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
.career-text {
  padding-top: 66px;
  padding-bottom: 100px;
  &__title {
    display: block;
    color: #020d2e;
    font-size: 34px;
    font-family: 'DinPro-Regular', sans-serif;
    line-height: 1.3;
    margin: 35px 0;
  }
  &__text {
    display: block;
    color: #020d2e;
    font-size: 24px;
    line-height: 1.3;
  }
}
.career-steps {
  min-height: 700px;
  background: url(/images/career_steps_background.jpg) no-repeat top right;
  background-size: cover;
  &_professionals {
    background: url(/images/career_steps_prof_background.jpg) no-repeat top right;
    background-size: cover;
  }
  &__title {
    display: block;
    font-size: 46px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif;
    margin-top: 125px;
    margin-bottom: 90px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__item {
    position: relative;
    width: 215px;
    padding-top: 190px;
    padding-bottom: 0;
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    background: #003366;
    margin-right: 80px;
    &:last-child {
      margin-right: 0;
      &:after {
        display: none;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -15px;
      right: -48px;
      display: block;
      width: 25px;
      height: 25px;
      border-right: 2px solid #bfbaba;
      border-bottom: 2px solid #bfbaba;
      transform: rotate(-45deg);
    }
    &:before {
      position: absolute;
      left: 10px;
      top: -20px;
      color: #ffffff;
      font-size: 135px;
    }
    &_reg {
      &:before {
        content: '1';
      }
      padding-top: 206px;
      & > .career-steps__link {
        font-size: 24px;
        text-align: center;
        padding: 25px 0 30px;
        background: #13bff1;
      }
    }
    &_load {
      &:before {
        content: '2';
      }
      background: url(/images/step2.png) no-repeat center;
      background-size: cover;
    }
    &_vacancy {
      &:before {
        content: '3';
      }
      background: url(/images/step3.png) no-repeat center;
      background-size: cover;
    }
  }
  &__link {
    padding: 15px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #ffffff;
  }
}
.story-slider {
  height: 370px;
  &__rubric {
    color: #13bff1;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif;
  }
  &__pagination {
    position: static!important;
    display: block;
    margin: 0;
    padding: 30px 0;
    text-align: center!important;
    & .swiper-pagination-bullet {
      margin-right: 15px;
      width: 14px;
      height: 14px;
      border: 2px solid #4b6787;
      background: transparent;
      &:last-child {
        margin-right: 0;
      }
      &-active {
        background: #ffffff;
        border: 2px solid #ffffff;
      }
    }
  }
  &__text {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif;
    line-height: 1.3;
    letter-spacing: 1px;
    &:before {
      position: absolute;
      top: -14px;
      left: -40px;
      content: '«';
      color: #13bff1;
      font-size: 42px;
    }
  }
  &__brackets {
    position: relative;
    font-size: 26px;
    &:after {
      position: absolute;
      top: -14px;
      right: -40px;
      content: '»';
      color: #13bff1;
      font-size: 42px;
    }
  }
  &__author {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-size: 20px;
    color: #ffffff;
  }
  &__school {
    margin: 0;
    padding: 0;
    margin-top: 12px;
    font-size: 16px;
    color: #aad8f7;
    font-family: 'DinPro-Regular', sans-serif;
  }
}
.career-specialists {
  background: #003366;
  padding-top: 100px;
  padding-bottom: 50px;
  &__title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif;
    margin-bottom: 70px;
    display: block;
  }
}
