@charset "UTF-8";
@font-face {
  font-family: 'DinPro-Medium';
  src: url("/fonts/DINPro-Medium.eot");
  src: url("/fonts/DINPro-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro-Medium.woff2") format("woff2"), url("/fonts/DINPro-Medium.woff") format("woff"), url("/fonts/DINPro-Medium.ttf") format("truetype"), url("/fonts/DINPro-Medium.svg#DINPro-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DinPro-Bold';
  src: url("/fonts/DINPro-Bold.eot");
  src: url("/fonts/DINPro-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro-Bold.woff2") format("woff2"), url("/fonts/DINPro-Bold.woff") format("woff"), url("/fonts/DINPro-Bold.ttf") format("truetype"), url("/fonts/DINPro-Bold.svg#DINPro-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DinPro-Regular';
  src: url("/fonts/DINPro.eot");
  src: url("/fonts/DINPro.eot?#iefix") format("embedded-opentype"), url("/fonts/DINPro.woff2") format("woff2"), url("/fonts/DINPro.woff") format("woff"), url("/fonts/DINPro.ttf") format("truetype"), url("/fonts/DINPro.svg#DINPro") format("svg");
  font-weight: normal;
  font-style: normal; }

body, html {
  font-size: 10px;
  font-family: 'DinPro-Medium', sans-serif; }

.content-wrap_main_slider {
  margin-top: 145px; }

.content-wrap_news_slider {
  margin-top: 70px;
  margin-bottom: 120px; }

.career-h1 {
  font-size: 57px;
  color: #ffffff;
  margin: 0; }
  .career-h1_students {
    font-size: 63px;
    margin-bottom: 20px; }
  .career-h1_professionals {
    margin-bottom: 10px;
    letter-spacing: 2px; }

.career-h2 {
  font-size: 24px;
  color: #ffffff;
  margin: 0;
  font-family: 'DinPro-Regular', sans-serif;
  font-weight: normal; }

.career-wrap_main_news {
  padding-top: 370px;
  padding-bottom: 110px; }

.career-wrap_news {
  background: #002855; }

.career-wrap_news_list {
  padding-top: 45px;
  padding-bottom: 150px; }

.career-tools__list {
  list-style: none;
  margin: 0;
  padding: 0; }

.career-tools__item {
  display: inline-block;
  vertical-align: bottom;
  font-size: 18px;
  color: #020d2e;
  margin-right: 25px; }

.career-tools__link {
  text-decoration: none;
  color: #006fb9;
  display: block; }
  .career-tools__link_vk {
    width: 21px;
    height: 27px;
    background: url(/images/icons/vk_tools.png) no-repeat center; }
  .career-tools__link_fb {
    width: 16px;
    height: 31px;
    background: url(/images/icons/fb_tools.png) no-repeat center; }
  .career-tools__link_tw {
    width: 32px;
    height: 27px;
    background: url(/images/icons/tw_tools.png) no-repeat center; }

.career-breadcrumbs_detail {
  border-bottom: 1px solid #e4e4e4; }

.career-breadcrumbs__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.career-breadcrumbs__item {
  display: inline-block;
  color: #006fb9;
  font-size: 17px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-right: 20px;
  text-decoration: none; }
  .career-breadcrumbs__item:last-child {
    margin-right: 0; }
  .career-breadcrumbs__item_active {
    color: #000000; }

.inline-breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none; }
  .inline-breadcrumbs a:hover {
    text-decoration: underline; }
  .inline-breadcrumbs__item {
    position: relative;
    display: inline;
    color: #e68b20;
    font-size: 18px;
    text-decoration: none;
    margin-right: 25px; }
    .inline-breadcrumbs__item:after {
      position: absolute;
      content: '>';
      font-size: 24px;
      right: -20px;
      top: -3px; }
    .inline-breadcrumbs__item:last-child:after {
      display: none; }

.career-header {
  width: 100%;
  background: #002855; }
  .career-header__logo {
    margin-top: 11px;
    display: block;
    color: #ffffff;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'DinPro-Bold', sans-serif; }
  .career-header__wrap {
    padding-top: 15px;
    padding-bottom: 15px; }

.career-nav {
  margin-top: 16px; }
  .career-nav__list {
    display: table;
    width: 100%;
    list-style: none;
    margin: 0;
    padding-left: 0; }
  .career-nav__item {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .career-nav__link {
    text-decoration: none;
    font-size: 16px;
    color: #a8e4ff;
    text-transform: uppercase; }
    .career-nav__link_active {
      color: #ffffff; }

.career-button {
  display: inline-block;
  outline: 0;
  border: 0;
  background: #13bff1;
  color: #ffffff; }
  .career-button_login {
    font-size: 16px;
    padding: 16px 30px 14px 30px; }
  .career-button_watch {
    font-size: 20px;
    padding: 20px 40px 20px 40px;
    text-decoration: none;
    margin-top: 40px; }
    .career-button_watch:hover {
      text-decoration: underline; }

.career-banner {
  position: relative;
  height: 780px;
  background: url(/images/career_index_banner.jpg) no-repeat top center;
  background-size: cover; }
  .career-banner_vacancies {
    background: url(/images/career_vacancies_banner.jpg) no-repeat top center;
    background-size: cover; }
  .career-banner_students {
    background: url(/images/career_students_banner.jpg) no-repeat top center;
    background-size: cover; }
    .career-banner_students > .career-banner__title {
      padding-top: 290px; }
  .career-banner_professionals {
    background: url(/images/career_professionals_banner.jpg) no-repeat top center;
    background-size: cover; }
    .career-banner_professionals > .career-banner__title {
      padding-top: 260px; }
  .career-banner_function {
    background: url(/images/career_professionals_func_banner.jpg) no-repeat top right;
    background-size: cover; }
    .career-banner_function > .career-banner__title {
      padding-top: 260px; }
      .career-banner_function > .career-banner__title .career-h1 {
        margin-top: 30px;
        line-height: 1; }
  .career-banner__title {
    padding-top: 190px;
    letter-spacing: -0.1px;
    font-family: 'DinPro-Regular', sans-serif; }

.banner-links {
  position: absolute;
  bottom: 60px;
  left: 50%;
  margin-left: -490px;
  width: 100%; }
  .banner-links__item {
    position: relative;
    display: block;
    text-align: center;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 60px;
    background: rgba(0, 40, 85, 0.9);
    color: #ffffff;
    font-size: 29px;
    text-decoration: none; }
    .banner-links__item:hover {
      background: #13bff1; }
    .banner-links__item:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -18px;
      width: 43px;
      height: 43px;
      display: block;
      background: url(/images/icons/circle-arrow-right.png) no-repeat center;
      background-size: cover; }

.about-steps {
  margin: 0;
  padding: 0;
  list-style: none; }
  .about-steps__item {
    position: relative;
    padding: 44px 25px 50px 130px;
    background: #003366;
    display: block;
    margin-bottom: 50px;
    min-height: 200px; }
    .about-steps__item:before {
      position: absolute;
      font-size: 135px;
      top: 16px;
      left: 28px;
      color: #ffffff; }
    .about-steps__item:nth-child(1):before {
      content: '1'; }
    .about-steps__item:nth-child(2):before {
      content: '2'; }
    .about-steps__item:nth-child(3):before {
      content: '3'; }
    .about-steps__item:nth-child(4):before {
      content: '4'; }
    .about-steps__item:nth-child(5):before {
      content: '5'; }
  .about-steps__title {
    font-size: 28px;
    font-family: 'DinPro-Regular', sans-serif;
    color: #ffffff;
    line-height: 1.4; }
  .about-steps__link {
    text-decoration: none;
    color: #13bff1; }
    .about-steps__link:hover {
      text-decoration: underline; }
  .about-steps__text {
    color: #cccccc;
    font-size: 18px;
    line-height: 1.3; }
  .about-steps__button {
    padding: 27px 50px 29px;
    text-decoration: none;
    font-size: 24px; }
    .about-steps__button:hover {
      text-decoration: underline; }

.career-about {
  background: url(/images/career_about.jpg) no-repeat top right;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 150px; }
  .career-about__title {
    margin-bottom: 13px;
    font-family: 'DinPro-Regular', sans-serif; }
  .career-about__subtitle {
    font-size: 20px; }
  .career-about__list {
    margin-top: 50px;
    margin-bottom: 58px; }

.career-detail {
  padding-top: 80px;
  padding-bottom: 100px; }
  .career-detail__title {
    color: #020d2e;
    font-size: 40px;
    font-family: 'DinPro-Regular', sans-serif;
    margin-bottom: 15px; }
  .career-detail__date {
    color: #a6a6a6;
    font-size: 17px; }
  .career-detail__text {
    font-size: 20px;
    color: #020d2e;
    line-height: 1.3;
    margin-top: 35px;
    margin-bottom: 35px; }
  .career-detail__photo {
    width: 70%; }
    .career-detail__photo img {
      width: 100%; }
  .career-detail__notice {
    margin-top: 100px; }
  .career-detail__tools {
    margin-top: 100px; }
  .career-detail__video {
    width: 100%; }
    .career-detail__video iframe {
      max-width: 570px;
      width: 100%;
      height: 340px; }

.career-notice {
  border-top: 3px solid #13bff1; }
  .career-notice__title {
    color: #13bff1;
    font-size: 18px;
    padding: 20px 0;
    display: block; }
  .career-notice__text {
    color: #535353;
    font-size: 18px;
    line-height: 1.5; }
  .career-notice__link {
    text-decoration: none;
    color: #006fb9; }

.career-choose {
  background: #002855;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 900px; }
  .career-choose__title {
    display: block;
    color: #ffffff;
    font-size: 46px;
    margin-bottom: 80px; }
  .career-choose__col {
    position: absolute;
    right: 0;
    top: 0; }

.tabs-accordeon {
  position: relative; }
  .tabs-accordeon__nav-item {
    box-sizing: border-box;
    color: #ffffff;
    font-size: 26px;
    display: block;
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 20px;
    padding-right: 16px;
    background: #0d3d6e;
    margin-bottom: 8px;
    cursor: pointer;
    position: relative;
    overflow: hidden; }
    .tabs-accordeon__nav-item:before {
      display: block;
      margin-bottom: 8px;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: -8px;
      width: 8px;
      background: #e68b20;
      transition: all 0.1s ease-in; }
    .tabs-accordeon__nav-item.active:before {
      left: 0px; }
    .tabs-accordeon__nav-item:hover:before {
      left: 0px; }
  .tabs-accordeon__content-item {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none; }
    .tabs-accordeon__content-item.active {
      display: block; }
  .tabs-accordeon__tag {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px; }
    .tabs-accordeon__tag a {
      width: 100%;
      display: block;
      color: #ffffff;
      font-size: 26px;
      padding-top: 11px;
      padding-bottom: 13px;
      padding-left: 13px;
      padding-right: 13px;
      border: 1px solid #ffffff;
      font-weight: normal;
      font-family: 'DinPro-Regular', sans-serif;
      cursor: pointer;
      text-decoration: none; }
      .tabs-accordeon__tag a:hover {
        background: #e68b20;
        border: 1px solid #e68b20; }

.career-promo__text {
  padding-top: 145px;
  padding-bottom: 150px; }

.career-promo__title {
  font-size: 52px;
  color: #006fb9;
  letter-spacing: -0.2px;
  margin: 0;
  text-align: center; }

.career-promo__subtitle {
  font-size: 24px;
  color: #28c4f1;
  text-align: center; }

.career-video {
  position: relative; }
  .career-video__text {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-left: -490px;
    font-family: 'DinPro-Regular', sans-serif; }
  .career-video__title {
    font-size: 40px;
    color: #ffffff;
    margin: 0; }
  .career-video__play {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-top: -54px;
    margin-left: -54px;
    width: 108px;
    height: 108px;
    display: block;
    border-radius: 50%;
    background: url(/images/icons/video-play.png) no-repeat center;
    cursor: pointer;
    z-index: 2; }
    .career-video__play:hover {
      background: url(/images/icons/video-play.png) no-repeat center, rgba(0, 0, 0, 0.3); }
  .career-video__wrap {
    background: #002855;
    width: 100%; }
    .career-video__wrap > video {
      width: 100% !important;
      height: auto !important; }

.career-people {
  width: 100%;
  background: #002855;
  padding-top: 140px;
  height: 790px; }

.stats-slider {
  height: 240px; }
  .stats-slider__slide {
    padding-top: 30px; }
  .stats-slider__number {
    display: block;
    font-size: 100px;
    color: #ffffff;
    position: relative; }
    .stats-slider__number_more:before {
      display: block;
      content: 'более';
      position: absolute;
      top: -25px;
      left: 5px;
      font-size: 20px;
      font-family: 'DinPro-Regular', sans-serif; }
  .stats-slider__text {
    font-size: 22px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif;
    padding: 0 5px; }

.people-slider {
  position: relative; }
  .people-slider__rubric {
    display: block;
    padding-left: 60px;
    padding-top: 60px;
    font-size: 20px;
    color: #76d4ff; }
  .people-slider__title {
    display: block;
    padding-left: 60px;
    padding-top: 70px;
    font-size: 40px;
    color: #ffffff;
    line-height: 1; }
  .people-slider__author {
    display: block;
    padding-left: 60px;
    padding-top: 35px;
    font-size: 18px;
    color: #b3b3b3;
    font-family: 'DinPro-Regular', sans-serif; }
  .people-slider__main {
    height: 560px; }
  .people-slider__thumbs {
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -43%;
    height: 90px;
    width: 86%; }

.people-thumbs__wrap {
  height: 90px; }
  .people-thumbs__wrap > .swiper-wrapper > .swiper-slide-active {
    border-bottom: 2px solid #ffffff; }

.people-thumbs__next, .people-thumbs__prev {
  display: block;
  left: -45px;
  top: 50%;
  margin-top: -13px;
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  z-index: 4;
  color: #ffffff;
  cursor: pointer; }
  .people-thumbs__next:after, .people-thumbs__prev:after {
    content: "";
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    border-left: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    left: 50%;
    top: 50%;
    margin-top: -3px;
    margin-left: -2px; }

.people-thumbs__next {
  left: auto;
  right: -45px; }
  .people-thumbs__next:after {
    -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: -4px;
    margin-left: -5px; }

.news__title {
  font-size: 34px;
  color: #000000;
  font-family: 'DinPro-Regular', sans-serif;
  margin-bottom: 65px; }

.news__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 25px; }

.news__item {
  padding: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2; }
  .news__item:last-child {
    border-bottom: none; }

.news__name {
  display: block;
  color: #006fb9;
  font-size: 23px;
  text-decoration: none;
  margin-bottom: 15px; }
  .news__name:hover {
    text-decoration: underline; }

.news__date {
  display: block;
  color: #a6a6a6;
  font-size: 16px; }

.news__more {
  color: #13bff1;
  font-size: 18px;
  text-decoration: none; }
  .news__more:hover {
    text-decoration: underline; }

.career-socmedia {
  border-top: 2px solid #e5e5e5;
  padding: 45px 0; }
  .career-socmedia__list {
    display: block;
    list-style: none;
    text-align: center;
    margin: 0;
    padding-left: 0; }
  .career-socmedia__item {
    display: inline-block;
    vertical-align: middle;
    color: #000000;
    font-size: 15px;
    padding-left: 35px;
    padding-right: 35px; }
    .career-socmedia__item:before {
      display: inline-block;
      vertical-align: middle;
      margin-right: 28px;
      content: ''; }
    .career-socmedia__item_vk:before {
      width: 21px;
      height: 27px;
      background: url(/images/icons/vk.png) no-repeat center; }
    .career-socmedia__item_fb:before {
      width: 16px;
      height: 31px;
      background: url(/images/icons/fb.png) no-repeat center; }
    .career-socmedia__item_tw:before {
      width: 32px;
      height: 27px;
      background: url(/images/icons/tw.png) no-repeat center; }

.search-form {
  margin-top: 35px; }
  .search-form__row {
    position: relative; }
  .search-form__submit {
    border: 0;
    outline: 0;
    position: absolute;
    left: 30px;
    top: 50%;
    margin-top: -13px;
    display: block;
    width: 33px;
    height: 33px;
    background: url(/images/icons/search.png) no-repeat center;
    background-size: cover;
    cursor: pointer; }
  .search-form__clear {
    position: absolute;
    right: 30px;
    top: 50%;
    margin-top: -8px;
    display: block;
    width: 16px;
    height: 16px;
    background: url(/images/icons/clear.png) no-repeat center;
    background-size: cover;
    cursor: pointer; }
  .search-form__input {
    width: 100%;
    padding: 36px 94px 32px;
    font-size: 28px;
    font-family: 'DinPro-Regular', sans-serif;
    color: #002855; }

.career-tags {
  padding: 18px 0;
  border-bottom: 2px solid #f5f5f5; }
  .career-tags__more {
    display: none; }
  .career-tags__list {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none; }
  .career-tags__item {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 22px 50px 20px 19px;
    background: #13bff1;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 5px; }
  .career-tags__delete {
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -2px;
    display: block;
    width: 11px;
    height: 11px;
    background: url(/images/icons/clear_light.png) no-repeat center;
    background-size: cover;
    cursor: pointer; }

.career-vacancies {
  padding-bottom: 100px; }
  .career-vacancies__filter-btn {
    display: none;
    padding: 12px 38px 12px 15px;
    background: #002855;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none; }
  .career-vacancies__header {
    padding-top: 100px;
    padding-bottom: 40px; }
  .career-vacancies__title {
    color: #020d2e;
    font-size: 36px; }
  .career-vacancies__count {
    color: #d1cfcf;
    font-size: 16px;
    font-family: 'DinPro-Regular', sans-serif;
    margin-bottom: 70px; }
  .career-vacancies__reset {
    color: #13bff1;
    text-decoration: none;
    margin-left: 10px; }
    .career-vacancies__reset:hover {
      text-decoration: underline; }

.vacancies-list__item {
  padding: 32px 35px 25px;
  border: 1px solid #e5e5e5;
  margin-bottom: 15px; }

.vacancies-list__title {
  display: block;
  text-align: left;
  font-size: 24px;
  color: #020d2e;
  margin-bottom: 20px;
  text-decoration: none; }
  .vacancies-list__title:hover {
    text-decoration: underline; }

.vacancies-list__city, .career-vacancy__city {
  font-size: 17px;
  color: #006fb9;
  font-family: 'DinPro-Regular', sans-serif; }

.vacancies-list__date, .career-vacancy__date {
  display: inline-block;
  font-size: 14px;
  color: #828282;
  margin-left: 10px; }

.vacancies-list__more {
  color: #13bff1;
  font-size: 18px;
  text-decoration: none; }
  .vacancies-list__more:hover {
    text-decoration: underline; }

.vacancies-list__type {
  color: #13bff1;
  font-size: 17px; }

.vacancies-list_spec .vacancies-list__city, .vacancies-list_spec .career-vacancy__city {
  display: block;
  text-align: right;
  margin-bottom: 8px; }

.vacancies-list_spec .vacancies-list__date, .vacancies-list_spec .career-vacancy__date {
  display: block;
  text-align: right; }

.vacancies-filter__item {
  margin-bottom: 48px; }

.vacancies-filter__title {
  display: block;
  text-align: left;
  color: #020d2e;
  font-size: 20px;
  margin-bottom: 20px; }

.vacancies-filter__row {
  margin-bottom: 8px; }

.vacancies-filter__label {
  font-size: 16px;
  color: #020d2e;
  font-family: 'DinPro-Regular', sans-serif; }
  .vacancies-filter__label > span {
    padding-left: 8px; }

.vacancies-filter__more {
  font-size: 16px;
  color: #13bff1;
  font-family: 'DinPro-Regular', sans-serif;
  text-decoration: none; }

.vacancies-filter__submit {
  display: none; }

.career-vacancy__wrap {
  padding-top: 100px;
  padding-bottom: 50px; }

.career-vacancy__type {
  font-size: 20px;
  color: #e68b20; }

.career-vacancy__name {
  font-size: 40px;
  color: #020d2e;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: normal; }

.career-vacancy__city {
  font-family: inherit; }

.career-vacancy__detail {
  margin-top: 55px; }

.career-vacancy__block {
  margin-bottom: 50px; }
  .career-vacancy__block_side {
    margin-bottom: 20px; }
    .career-vacancy__block_side > .career-vacancy__title {
      font-size: 20px; }

.career-vacancy__title {
  color: #828282;
  font-size: 24px;
  font-family: 'DinPro-Regular', sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 8px; }

.career-vacancy__text {
  margin: 0;
  font-size: 20px;
  color: #000000;
  font-family: 'DinPro-Regular', sans-serif;
  font-weight: bold;
  line-height: 1.5; }

.career-vacancy__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.career-vacancy__item {
  position: relative;
  display: block;
  padding-left: 30px;
  font-size: 20px;
  color: #000000;
  font-family: 'DinPro-Regular', sans-serif;
  font-weight: bold;
  line-height: 1.5; }
  .career-vacancy__item:before {
    position: absolute;
    left: 0;
    top: 0;
    content: '—';
    color: #828282; }

.career-vacancy__callback {
  display: inline-block;
  padding: 24px 38px;
  font-size: 24px;
  color: #ffffff;
  background: #13bff1;
  font-family: 'DinPro-Regular', sans-serif;
  text-decoration: none; }
  .career-vacancy__callback:hover {
    text-decoration: underline; }

.career-text {
  padding-top: 66px;
  padding-bottom: 100px; }
  .career-text__title {
    display: block;
    color: #020d2e;
    font-size: 34px;
    font-family: 'DinPro-Regular', sans-serif;
    line-height: 1.3;
    margin: 35px 0; }
  .career-text__text {
    display: block;
    color: #020d2e;
    font-size: 24px;
    line-height: 1.3; }

.career-steps {
  min-height: 700px;
  background: url(/images/career_steps_background.jpg) no-repeat top right;
  background-size: cover; }
  .career-steps_professionals {
    background: url(/images/career_steps_prof_background.jpg) no-repeat top right;
    background-size: cover; }
  .career-steps__title {
    display: block;
    font-size: 46px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif;
    margin-top: 125px;
    margin-bottom: 90px; }
  .career-steps__list {
    list-style: none;
    margin: 0;
    padding: 0; }
  .career-steps__item {
    position: relative;
    width: 215px;
    padding-top: 190px;
    padding-bottom: 0;
    color: #ffffff;
    font-size: 30px;
    display: inline-block;
    vertical-align: top;
    background: #003366;
    margin-right: 80px; }
    .career-steps__item:last-child {
      margin-right: 0; }
      .career-steps__item:last-child:after {
        display: none; }
    .career-steps__item:after {
      content: '';
      position: absolute;
      top: 50%;
      margin-top: -15px;
      right: -48px;
      display: block;
      width: 25px;
      height: 25px;
      border-right: 2px solid #bfbaba;
      border-bottom: 2px solid #bfbaba;
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    .career-steps__item:before {
      position: absolute;
      left: 10px;
      top: -20px;
      color: #ffffff;
      font-size: 135px; }
    .career-steps__item_reg {
      padding-top: 206px; }
      .career-steps__item_reg:before {
        content: '1'; }
      .career-steps__item_reg > .career-steps__link {
        font-size: 24px;
        text-align: center;
        padding: 25px 0 30px;
        background: #13bff1; }
    .career-steps__item_load {
      background: url(/images/step2.png) no-repeat center;
      background-size: cover; }
      .career-steps__item_load:before {
        content: '2'; }
    .career-steps__item_vacancy {
      background: url(/images/step3.png) no-repeat center;
      background-size: cover; }
      .career-steps__item_vacancy:before {
        content: '3'; }
  .career-steps__link {
    padding: 15px;
    display: block;
    text-align: left;
    text-decoration: none;
    color: #ffffff; }

.story-slider {
  height: 370px; }
  .story-slider__rubric {
    color: #13bff1;
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px; }
  .story-slider__title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif; }
  .story-slider__pagination {
    position: static !important;
    display: block;
    margin: 0;
    padding: 30px 0;
    text-align: center !important; }
    .story-slider__pagination .swiper-pagination-bullet {
      margin-right: 15px;
      width: 14px;
      height: 14px;
      border: 2px solid #4b6787;
      background: transparent; }
      .story-slider__pagination .swiper-pagination-bullet:last-child {
        margin-right: 0; }
      .story-slider__pagination .swiper-pagination-bullet-active {
        background: #ffffff;
        border: 2px solid #ffffff; }
  .story-slider__text {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 26px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif;
    line-height: 1.3;
    letter-spacing: 1px; }
    .story-slider__text:before {
      position: absolute;
      top: -14px;
      left: -40px;
      content: '«';
      color: #13bff1;
      font-size: 42px; }
  .story-slider__brackets {
    position: relative;
    font-size: 26px; }
    .story-slider__brackets:after {
      position: absolute;
      top: -14px;
      right: -40px;
      content: '»';
      color: #13bff1;
      font-size: 42px; }
  .story-slider__author {
    margin: 0;
    padding: 0;
    margin-top: 40px;
    font-size: 20px;
    color: #ffffff; }
  .story-slider__school {
    margin: 0;
    padding: 0;
    margin-top: 12px;
    font-size: 16px;
    color: #aad8f7;
    font-family: 'DinPro-Regular', sans-serif; }

.career-specialists {
  background: #003366;
  padding-top: 100px;
  padding-bottom: 50px; }
  .career-specialists__title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'DinPro-Regular', sans-serif;
    margin-bottom: 70px;
    display: block; }
