@media (max-width: 1023px) {
  .content-wrap_news_slider {
    margin-top: 0; }
  .news {
    padding-left: 25px;
    padding-right: 25px; }
  .career-wrap_main_news {
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px; }
  .career-wrap_news .people-slider__main {
    margin-top: 0; }
  .career-wrap__container {
    padding-left: 25px;
    padding-right: 25px; }
  .story-slider__text {
    font-size: 20px; }
    .story-slider__text:before {
      top: -19px;
      left: -35px; }
  .story-slider__brackets:after {
    top: -11px;
    right: -35px; }
  .career-breadcrumbs__list {
    padding-left: 25px; }
  .mobile-vac-filter {
    display: none;
    position: absolute;
    left: 25px;
    top: 69px;
    background: #ffffff;
    border: 1px solid; }
    .mobile-vac-filter.active {
      display: block; }
  .career-h1 {
    font-size: 37px; }
    .career-h1_vacancies {
      padding-left: 25px; }
    .career-h1_students {
      font-size: 40px;
      padding-right: 310px; }
  .career-tags {
    padding: 18px 25px; }
  .career-text, .career-steps, .career-specialists, .career-about, .career-detail {
    padding-left: 25px;
    padding-right: 25px; }
  .career-text {
    font-family: inherit; }
  .career-steps__item {
    width: 180px;
    font-size: 22px;
    margin-right: 70px; }
    .career-steps__item:after {
      right: -40px; }
    .career-steps__item_reg > .career-steps__link {
      font-size: 18px;
      padding: 20px 0 24px; }
  .career-choose {
    padding-top: 60px;
    padding-bottom: 60px;
    padding-left: 25px;
    padding-right: 25px;
    min-height: 830px; }
    .career-choose__title {
      font-size: 32px;
      padding-left: 25px; }
  .tabs-accordeon__tag a {
    font-size: 20px; }
  .tabs-accordeon__nav-item {
    font-size: 20px; }
  .career-vacancies {
    position: relative;
    padding-left: 25px;
    padding-right: 25px; }
    .career-vacancies__filter-btn {
      display: inline-block;
      margin-bottom: 25px;
      position: relative; }
      .career-vacancies__filter-btn:after {
        position: absolute;
        right: 13px;
        top: 50%;
        margin-top: -2px;
        display: block;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 7px 0 7px;
        border-color: #ffffff transparent transparent transparent; }
      .career-vacancies__filter-btn.active:after {
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent #ffffff transparent; }
    .career-vacancies__count {
      margin-bottom: 35px; }
  .vacancies-filter {
    padding: 20px 15px; }
    .vacancies-filter__submit {
      outline: 0;
      border: 0;
      display: inline-block;
      margin-bottom: 20px;
      background: #13bff1;
      color: #ffffff;
      padding: 12px;
      font-size: 16px;
      cursor: pointer; }
    .vacancies-filter__close {
      width: 20px;
      height: 20px;
      display: block;
      position: absolute;
      top: 30px;
      right: 30px;
      background: url(/images/icons/clear.png) no-repeat center;
      background-size: cover;
      cursor: pointer; }
  .search-form {
    margin-left: 25px;
    margin-right: 25px; }
  .container-fluid {
    width: 100%;
    max-width: 100%; }
  .row {
    margin-left: 0;
    margin-right: 0; }
  .col, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12, .col-xs-13, .col-sm-13, .col-md-13, .col-lg-13, .col-xs-14, .col-sm-14, .col-md-14, .col-lg-14, .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15, .col-xs-16, .col-sm-16, .col-md-16, .col-lg-16, .col-xs-17, .col-sm-17, .col-md-17, .col-lg-17, .col-xs-18, .col-sm-18, .col-md-18, .col-lg-18, .col-xs-19, .col-sm-19, .col-md-19, .col-lg-19, .col-xs-20, .col-sm-20, .col-md-20, .col-lg-20, .col-xs-21, .col-sm-21, .col-md-21, .col-lg-21, .col-xs-22, .col-sm-22, .col-md-22, .col-lg-22, .col-xs-23, .col-sm-23, .col-md-23, .col-lg-23, .col-xs-24, .col-sm-24, .col-md-24, .col-lg-24, .col-xs-25, .col-sm-25, .col-md-25, .col-lg-25, .col-xs-26, .col-sm-26, .col-md-26, .col-lg-26, .col-xs-27, .col-sm-27, .col-md-27, .col-lg-27, .col-xs-28, .col-sm-28, .col-md-28, .col-lg-28, .col-xs-29, .col-sm-29, .col-md-29, .col-lg-29, .col-xs-30, .col-sm-30, .col-md-30, .col-lg-30 {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .mobile-nav {
    display: none;
    position: absolute;
    top: 77px;
    left: 0;
    z-index: 20;
    padding-left: 0;
    padding-right: 0;
    background: #002855; }
    .mobile-nav.active {
      display: block; }
  .career-banner {
    height: 375px; }
    .career-banner__title {
      padding-top: 85px; }
    .career-banner_professionals .career-banner__title, .career-banner_function .career-banner__title, .career-banner_students .career-banner__title {
      padding-left: 25px;
      padding-right: 25px; }
    .career-banner_students .career-banner__title {
      padding-top: 140px; }
    .career-banner_function {
      height: 475px; }
      .career-banner_function .career-banner__title {
        padding-top: 140px; }
  .banner-links {
    position: absolute;
    bottom: 60px;
    width: 96%;
    left: 50%;
    margin-left: -48%; }
    .banner-links__item {
      min-height: 94px;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 20px 0;
      padding-right: 60px;
      font-size: 24px;
      text-align: left;
      padding-left: 15px; }
      .banner-links__item:after {
        margin-top: -20px; }
  .career-button_login {
    position: absolute;
    right: 25px; }
  .career-header__logo {
    padding-left: 25px;
    margin-bottom: 11px;
    position: relative; }
    .career-header__logo:after {
      position: absolute;
      left: 130px;
      top: 50%;
      margin-top: -5px;
      display: block;
      content: '';
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 9px 7.5px 0 7.5px;
      border-color: #ffffff transparent transparent transparent; }
    .career-header__logo.active:after {
      border-style: solid;
      border-width: 0 7.5px 9px 7.5px;
      border-color: transparent transparent #ffffff transparent; }
  .career-nav {
    margin-top: 0; }
    .career-nav__list {
      display: block; }
    .career-nav__item {
      display: block;
      padding: 0; }
    .career-nav__link {
      display: block;
      padding: 20px 0;
      padding-left: 25px;
      text-align: left; }
      .career-nav__link:hover {
        background: #13bff1;
        color: #ffffff; }
  .career-promo__title {
    font-size: 46px; }
  .career-promo__subtitle {
    font-size: 24px; }
  .career-video {
    height: 470px; }
    .career-video__text {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 0;
      margin-left: 0; }
    .career-video__title {
      padding-left: 25px;
      font-size: 30px; }
    .career-video__wrap {
      height: 100%;
      background: #002855; }
  .career-people {
    padding-top: 90px;
    height: auto; }
  .people-slider__main {
    margin-top: 45px;
    height: 480px; }
  .people-slider__rubric {
    padding-left: 25px;
    padding-top: 25px;
    font-size: 18px; }
  .people-slider__title {
    padding-left: 25px;
    padding-top: 50px;
    font-size: 36px; }
  .people-slider__author {
    padding-left: 25px;
    padding-top: 35px;
    font-size: 16px; }
  .people-slider__thumbs {
    margin-left: -40%;
    width: 80%; }
  .stats-slider__number {
    font-size: 60px; }
    .stats-slider__number_more:before {
      left: 50%;
      margin-left: -25px; }
  .stats-slider__text {
    font-size: 20px; }
  .stats-slider__slide {
    text-align: center; }
  .career-vacancy__wrap {
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px; } }

@media (max-width: 860px) {
  .career-h1_students {
    font-size: 40px;
    padding-right: 240px; } }

@media (max-width: 767px) {
  .career-breadcrumbs__item {
    margin-right: 10px; }
  .about-steps__title {
    font-size: 20px;
    word-break: break-word; }
  .about-steps__text {
    display: none; }
  .about-steps__button {
    padding: 27px 30px 30px;
    font-size: 24px;
    width: 290px; }
  .career-choose {
    padding-left: 0;
    padding-right: 0; }
    .career-choose__title {
      padding-left: 25px;
      padding-right: 25px; }
    .career-choose__col {
      position: static; }
  .tabs-accordeon__content-item {
    padding-left: 25px;
    padding-right: 25px;
    background: #0d3d6e;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative; }
    .tabs-accordeon__content-item:before {
      display: block;
      margin-bottom: 8px;
      content: '';
      height: 100%;
      position: absolute;
      top: 0;
      left: -8px;
      width: 8px;
      background: #e68b20;
      transition: all 0.1s ease-in; }
    .tabs-accordeon__content-item.active:before {
      left: 0; }
  .tabs-accordeon__nav-item {
    margin-bottom: 0; }
  .career-specialists {
    padding-top: 60px; }
    .career-specialists__title {
      display: block;
      font-size: 28px;
      margin-left: 15px;
      margin-bottom: 0; }
  .story-slider {
    min-height: 600px; }
    .story-slider__rubric {
      padding-left: 30px;
      margin-top: 20px;
      margin-bottom: 0; }
    .story-slider__wrap {
      margin-top: 50px;
      margin-bottom: 75px; }
    .story-slider__photo {
      padding-left: 30px; }
    .story-slider__text {
      padding-top: 20px;
      padding-left: 30px;
      font-size: 18px; }
      .story-slider__text:before {
        font-size: 38px;
        top: 4px;
        left: 0px; }
    .story-slider__brackets:after {
      top: -7px;
      right: -35px;
      font-size: 38px; }
    .story-slider__author, .story-slider__school {
      padding-left: 30px; }
  .career-steps__title {
    font-size: 30px; }
  .career-steps__item {
    display: block;
    width: 100%;
    font-size: 22px;
    margin-right: 0;
    padding-top: 0;
    padding-left: 80px;
    margin-bottom: 70px; }
    .career-steps__item:after {
      bottom: -40px;
      left: 50%;
      margin-left: -10px;
      margin-top: 0;
      top: auto;
      right: auto;
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .career-steps__item:before {
      position: absolute;
      left: 20px;
      top: 50%;
      margin-top: -42px;
      font-size: 70px; }
    .career-steps__item_reg > .career-steps__link {
      padding-top: 40px;
      padding-bottom: 40px;
      font-size: 18px;
      margin-top: 0;
      text-align: left;
      padding-left: 40px; }
  .career-steps__link {
    padding-top: 38px;
    padding-bottom: 38px;
    padding-left: 40px; }
  .career-text__title {
    font-size: 20px; }
  .career-text__text {
    font-size: 17px; }
  .stats-slider__text {
    padding: 0 15px; }
  .stats-slider > .swiper-pagination > .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    border: 2px solid #4b6787;
    background: transparent; }
  .stats-slider > .swiper-pagination > .swiper-pagination-bullet-active {
    border: 2px solid #ffffff;
    background: #ffffff; }
  .career-banner_students {
    position: relative; }
    .career-banner_students .career-banner__title {
      position: absolute;
      top: 0;
      left: 25px;
      z-index: 10;
      padding-top: 200px; }
    .career-banner_students:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3); }
  .career-banner__title {
    min-height: 375px; }
  .career-h1 {
    font-size: 26px; }
    .career-h1_students {
      font-size: 30px;
      padding-right: 0; }
  .banner-links {
    position: static;
    width: 100%;
    margin-left: 0; }
  .career-promo {
    margin-top: 188px; }
    .career-promo__text {
      padding-top: 90px;
      padding-bottom: 90px; }
    .career-promo__title {
      font-size: 28px; }
    .career-promo__subtitle {
      font-size: 18px; }
  .career-video {
    height: auto;
    width: auto; }
    .career-video__title {
      font-size: 18px; }
    .career-video__wrap {
      height: auto;
      width: 100%; }
    .career-video__play {
      position: absolute;
      top: 25%;
      left: 50%;
      margin-top: -38px;
      margin-left: -38px;
      width: 76px;
      height: 76px;
      display: block;
      border-radius: 50%;
      background: url(/images/icons/video-play.png) no-repeat center;
      background-size: cover;
      cursor: pointer;
      z-index: 2; }
  .career-tags__more {
    display: block;
    font-size: 16px;
    color: #13bff1;
    text-decoration: none;
    margin: 8px 0; }
  .people-slider__main {
    margin-top: 45px;
    height: 480px; }
  .people-slider__thumbs {
    display: none; }
  .vacancies-list__info {
    margin-top: 10px; }
  .vacancies-list__item {
    padding-top: 26px;
    padding-bottom: 20px; }
  .vacancies-list__title {
    font-size: 20px;
    margin-bottom: 10px; }
  .vacancies-list_spec .vacancies-list__city {
    display: inline-block; }
  .vacancies-list_spec .vacancies-list__date {
    display: inline-block; } }

@media (max-width: 640px) {
  .people-slider__title {
    font-size: 28px; }
  .career-tools__item_print {
    display: block;
    margin-bottom: 20px; } }

@media (max-width: 480px) {
  .career-vacancy__callback {
    padding: 15px 20px;
    font-size: 18px; } }
